/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

/* Root document */

:root {
  --transition: 150ms ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  max-width: 1080px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  color-scheme: light;
  background-color: white;
  color: #111;
  --switch-background: #aaa;
  --switch-foreground: #ccc;
}

body.dark {
  color-scheme: dark;
  background-color: hsl(225, 6%, 13%);
  color: white;
  --switch-background: #3b3b3b;
  --switch-foreground: #666;
  /* font-weight: 400;
  letter-spacing: 0.15px; */ /* Adjusting visual weights */
}

/* Top bar */

header {
  height: 100px;
  margin: 0 0;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  display: block;
  margin: 1rem;
}

/* Navbar */

menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu li a {} */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* Content styling */

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* Switches */

input[type="checkbox"].switch {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

label {
  user-select: none;
}

input[type="checkbox"].switch + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"].switch + label::before {
  content: "";
  width: 2.5em;
  height: 1.25em;
  background-color: var(--switch-background);
  border-radius: 1em;
  margin: 0.5em;
}

input[type="checkbox"].switch + label::after {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--switch-foreground);
  border-radius: 1em;
  margin: 0.5em;
  transition: transform 200ms;
}

input[type="checkbox"].switch:focus-visible + label::before {
  outline: 2px solid hsl(278, 80%, 70%);
}

input[type="checkbox"].switch:checked + label::before {
  background-color: hsl(278, 30%, 50%);
}

input[type="checkbox"].switch:checked + label::after {
  transform: translateX(75%);
  background-color: hsl(278, 80%, 80%);
}

#darkmode-toggle + label::before {
  background-color: var(--switch-background);
}

#darkmode-toggle + label::after {
  background-color: var(--switch-foreground);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
